.mainNav {
    position: fixed;
    width: 100%;
    height: 50px;
    background: lightcoral;
    top: 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    z-index: 90;
}